.wrapper {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.textArea {
  width: 50%;
  border: 2px solid grey;
}

.formWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  width: 50%;
  display: flex;
}

.message {
  padding-left: 20px;
  margin-top: 10px;
  /* padding-top: 20px; */
}